html {
  font-size: 10px;
  --red: #d83933;
  --grey: #efefef;
  --grey20: #d1d1d1;
  --grey80: #747474;
  --blue: #0050d8;
}
body,
h2,
h4,
a {
  margin: 0;
  padding: 0;
}

span {
  color: var(--red);
}

.form__menu {
  margin: 0 auto;
  min-width: 700px;
  max-width: 1200px;
}

.header {
  margin-top: 64px;
}

.header,
.form {
  margin-left: 45px;
  margin-right: 45px;
}

.header__title {
  font-weight: 700;
  font-size: 2.4rem;
}

.discription {
  margin-top: 79px;
  font-weight: 400;
  font-size: 1.4rem;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  margin: 32px 0 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--grey20);
}

.left__container,
.right__container {
  width: 50%;
}

.wrapper {
  height: 70px;
  margin: 25px 0 25px;
}

label {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
}

input,
select {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 400;
  width: 392px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid rgb(151, 151, 151);
}

input[value="APP0000116"],
input[value="Rajaneesh Banal"] {
  color: var(--blue);
}

.option {
  color: var(--grey80);
}

input[class="search"] {
  background: url(../image/search-line.png) no-repeat 97%;
}

.checkbox__custom {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 10px;
}

.wrapper__checkbox__fee,
.checkbox__purged,
.wrapper__checkbox {
  display: flex;
  align-items: center;
}

.checkbox__purged {
  margin-top: 133px;
  margin-bottom: 48px;
}

.wrapper__checkbox {
  margin-top: 43px;
}

.checkbox__custom:checked {
  accent-color: #ff00ff;
}

.btn__link {
  float: right;
  display: block;
  width: 94px;
  height: 40px;
  background-color: #0050d8;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  line-height: 40px;
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 110px;
}
