body{
    margin: 0;
    padding: 0;

}

.page__1 {
    min-width: 700px;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #001124;
    display: flex;
    align-items: center;

}
.img{
    width: 50%;
    margin: 190px 105px 190px 0;
   
}

.login__form{
    width: 50%;
    
}

.title{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 61.7px;
    color: white;
    margin-top: 0;
    margin-bottom: 42px;

}

label{
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 29.5px;
    color: white;
}

input{
    width: 361px;
    height: 43px;

}

.email, .pass{
    margin-bottom: 11px;

}

.subtitle{
    margin: 0;
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 29.5px;
    color: #499FFE;

}

.text{
    font-family: 'Padauk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 29.5px;
    color: #fff;
    margin-bottom: 11px;

}

a{
    text-decoration: none;

}

.btn{
    padding: 11px 62px;
    font-family: 'Padauk', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 29.5px;
    text-transform: uppercase;
    color: white;
    background-color: #015FC7;

}

.btn:hover{
    transform: scale(1.2);

}
