body {
  margin: 0;
  padding: 0;
}

.registr {
  max-width: 1440px;
  min-width: 700px;
  margin: 0 auto;
  background-color: #001124;
  display: flex;
}

.img {
  margin: 117px 229px 241px 143px;
}

.title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 61.7px;
  color: white;
  margin-top: 107px;
}

label {
  font-family: "Padauk", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 29.5px;
  color: white;
  text-transform: capitalize;
  margin-top: 11px;
}

input {
  width: 361px;
  height: 43px;
  font-family: "Padauk", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 11px;
}

.btn {
  margin-top: 26px;
  margin-bottom: 108px;
  padding-left: 70px;
}

button[type="submit"] {
  font-family: "Padauk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 29.5px;
  color: white;
  text-transform: uppercase;
  padding: 8px 55px;
  background-color: #015fc7;
}
